.DS_Store
**/.DS_Store
__pycache__/
all/
excel tables/
html/
html2/
JPGs/
marc/
old/
PDFs/
Plain text/
Albatros scraping 2.xlsx
Albatros scraping all.xlsx
output.png
I Am in Love With My Bicycle_without_text.pdf
Shapes and Patterns in Nature_without_text.pdf
